<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>
            {{title}} - webchat
        </title>
        {% else %}
        <title>
            webchat
        </title>>
        {% endif %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div> Webchat:
            <a href="{{ url_for('index') }}">Home</a>
            {% if g.get('user', None).is_authenticated %} | 
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li> {{ message }} </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>